[Desktop Entry]
Version=1.0
Name=Cashera Core
Comment=Cashera P2P Cryptocurrency
Comment[fr]=Cashera, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cashera, eşten eşe kriptografik sanal para birimi
Exec=Cashera-qt %u
Terminal=false
Type=Application
Icon=Cashera128
MimeType=x-scheme-handler/Cashera;
Categories=Office;Finance;
StartupWMClass=Cashera-qt