[Unit]
Description=Cashera's distributed currency daemon
After=network.target

[Service]
User=Cashera
Group=Cashera

Type=forking
PIDFile=/var/lib/Casherad/Casherad.pid
ExecStart=/usr/bin/Casherad -daemon -pid=/var/lib/Casherad/Casherad.pid \
-conf=/etc/Cashera/Cashera.conf -datadir=/var/lib/Casherad -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
